<div class="card f1-race">
  <div class="card-body">
    <div class="f1-race__actions">
      <h5 class="card-title f1-race__title">{{race.name}}</h5>
      <div ngbDropdown class="f1-race__dropdown-list">
        <button class="btn btn-outline-secondary" ngbDropdownToggle ngbTooltip="Reference">
          <fa-icon [icon]="icons.ellipsis"></fa-icon>
        </button>
        <div ngbDropdownMenu>
          <a [href]="race.webReference.race" target="_blank" ngbDropdownItem>Race</a>
          <a [href]="race.webReference.circuit" target="_blank" ngbDropdownItem>Circuit</a>
          <a [href]="race.webReference.winnerDriver" target="_blank" ngbDropdownItem>Winner ({{race.winner.driver.name}})</a>
          <a [href]="race.webReference.winnerConstructor" target="_blank" ngbDropdownItem>Constructor ({{race.winner.constructor.name}})</a>
        </div>
      </div>
    </div>

    <div class="f1-race__details">
      <div>
        <span>Country:</span>
        <span class="f1-race__property">{{race.country}}</span>
      </div>
      <div>
        <span>Locality:</span>
        <span class="f1-race__property">{{race.locality}}</span>
      </div>
      <div>
        <span>Date:</span>
        <span class="f1-race__property">{{race.date}}</span>
      </div>
      <div>
        <span>Round:</span>
        <span class="f1-race__property">{{race.round}}</span>
      </div>
    </div>

    <div>
      <button class="btn btn-outline-primary f1-race__winner-button" (click)="toogleDisplay()">
        <span>
          <f1-flag [nationality]="race.winner.driver.nationality"></f1-flag>
        </span>
        <span>{{race.winner.driver.name}}</span>
        <span>
          <fa-icon [icon]="icons.trophy"></fa-icon>
        </span>
      </button>

      <div [ngbCollapse]="isDisplayed">
        <f1-result [result]="race.winner"></f1-result>
      </div>
    </div>
  </div>
</div>
