<div class="card">
  <div class="card-body">
    <div class="d-flex mb-3">
      <h5 class="card-title flex-grow-1">{{race.name}}</h5>
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-secondary" ngbDropdownToggle ngbTooltip="Reference">
          <fa-icon [icon]="faEllipsis"></fa-icon>
        </button>
        <div ngbDropdownMenu>
          <a [href]="race.webReference.race" target="_blank" ngbDropdownItem>Race</a>
          <a [href]="race.webReference.circuit" target="_blank" ngbDropdownItem>Circuit</a>
          <a [href]="race.webReference.winnerDriver" target="_blank" ngbDropdownItem>Winner ({{race.winner.driver.name}})</a>
          <a [href]="race.webReference.winnerConstructor" target="_blank" ngbDropdownItem>Constructor ({{race.winner.constructor.name}})</a>
        </div>
      </div>
    </div>

    <div class="mr-4">
      <div>
        <label>Country:</label>
        <span class="font-weight-bold ml-1">{{race.country}}</span>
      </div>
      <div>
        <label>Locality:</label>
        <span class="font-weight-bold ml-1">{{race.locality}}</span>
      </div>
      <div>
        <label>Date:</label>
        <span class="font-weight-bold ml-1">{{race.date}}</span>
      </div>
      <div>
        <label>Round:</label>
        <span class="font-weight-bold ml-1">{{race.round}}</span>
      </div>
    </div>

    <button class="btn btn-outline-primary" (click)="showDetails=!showDetails">
      <f1-flag [nationality]="race.winner.driver.nationality"></f1-flag>
      <span class="px-1">{{race.winner.driver.name}}</span>
      <fa-icon [icon]="faTrophy"></fa-icon>
    </button>
    <div [ngbCollapse]="showDetails" class="p-3">
      <f1-result [result]="race.winner"></f1-result>
    </div>
  </div>
</div>
