.dropdown-toggle{
  border-radius: 50%;
  &::after {
    display:none;
  }
}

.f1-race {
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  box-shadow:
       inset 0 -2em 2em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
  &__actions {
    display: flex;
    margin-bottom: 1rem;
  }

  &__title {
    flex-grow: 1;
  }

  &__dropdown-list {
    display: inline-block;
  }

  &__details {
    margin-right: 1.5rem;
    margin-bottom: 1rem;
  }

  &__property {
    font-weight: 700;
    padding-left: .25rem;
  }

  &__winner-button {
    &>span:not(:first-of-type) {
      padding-left: .25rem;
    }
  }
}
